In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [8]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [10]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [11]:
ohe_encoder_geography=OneHotEncoder(handle_unknown='ignore')
geo_encoded=ohe_encoder_geography.fit_transform(df[['Geography']]).toarray()
ohe_encoded_df=pd.DataFrame(geo_encoded,columns=ohe_encoder_geography.get_feature_names_out(['Geography']))
ohe_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [12]:
df=pd.concat([df.drop(['Geography'],axis=1),ohe_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

### Independant and Dependant Features

In [13]:
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

### Train-Test Split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [15]:
# Feature Scaling
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [16]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('ohe_encoder_geography.pkl','wb') as file:
    pickle.dump(ohe_encoder_geography,file)
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN-Regression Problem Statement

In [22]:
import tensorflow
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [18]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), # HL1 Connected with input layer
    Dense(32,activation='relu'), # HL2
    Dense(1) # Output Layer for regression
])

# Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From d:\Projects\MachineLearningPractice\DeepLearning\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\Projects\MachineLearningPractice\DeepLearning\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
# Setup Tensorboard
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [24]:
# Setup Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [25]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
    )

Epoch 1/100
WARNING:tensorflow:From d:\Projects\MachineLearningPractice\DeepLearning\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Projects\MachineLearningPractice\DeepLearning\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 6ms/step - loss: 100353.1406 - mae: 100353.1406 - val_loss: 98499.3672 - val_mae: 98499.3672
Epoch 2/100
250/250 [==============================] - 2s 6ms/step - loss: 99402.6719 - mae: 99402.6719 - val_loss: 96584.8984 - val_mae: 96584.8984
Epoch 3/100
250/250 [==============================] - 1s 6ms/step - loss: 96093.5391 - mae: 96093.5391 - val_loss: 91781.9297 - val_mae: 91781.9297
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 89727.2734 - mae: 89727.2734 - val_loss: 84032.2656 - val_mae: 84032.2656
Epoch 5/100
250/250 [==============================] - 2s 6ms/step - loss: 80738.5469 - mae: 80738.5469 - val_loss: 74366.9922 - val_mae: 74366.9922
Epoch 6/100
250/250 [==============================] - 2s 8ms/step - loss: 70886.8125 - mae: 70886.8125 - val_loss: 64871.6055 - val_mae: 64871.6055
Epoch 7/100
250/250 [==============================] - 2s 8ms/step - loss: 62159.9805 - mae: 62159.9805 - val_loss: 57488.7734 - val_mae: 57488.7734
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 56016.1523 - mae: 56016.1523 - val_loss: 53254.9492 - val_mae: 53254.9492
Epoch 9/100
250/250 [==============================] - 2s 6ms/step - loss: 52623.9570 - mae: 52623.9570 - val_loss: 51377.0273 - val_mae: 51377.0273
Epoch 10/100
250/250 [==============================] - 2s 8ms/step - loss: 51227.3906 - mae: 51227.3906 - val_loss: 50691.0938 - val_mae: 50691.0938
Epoch 11/100
250/250 [==============================] - 2s 9ms/step - loss: 50742.8086 - mae: 50742.8086 - val_loss: 50488.0703 - val_mae: 50488.0703
Epoch 12/100
250/250 [==============================] - 2s 10ms/step - loss: 50550.3125 - mae: 50550.3125 - val_loss: 50385.1797 - val_mae: 50385.1797
Epoch 13/100
250/250 [==============================] - 2s 10ms/step - loss: 50440.0039 - mae: 50440.0039 - val_loss: 50319.1758 - val_mae: 50319.1758
Epoch 14/100
250/250 [==============================] - 2s 8ms/step - loss: 50359.5039 - mae: 50359.5039 - val_loss: 50266.2266 - val_mae: 50266.2266
Epoch 15/100
250/250 [==============================] - 2s 9ms/step - loss: 50289.4570 - mae: 50289.4570 - val_loss: 50215.6758 - val_mae: 50215.6758
Epoch 16/100
250/250 [==============================] - 2s 9ms/step - loss: 50236.1484 - mae: 50236.1484 - val_loss: 50167.3945 - val_mae: 50167.3945
Epoch 17/100
250/250 [==============================] - 2s 8ms/step - loss: 50177.1328 - mae: 50177.1328 - val_loss: 50130.3633 - val_mae: 50130.3633
Epoch 18/100
250/250 [==============================] - 2s 9ms/step - loss: 50132.8945 - mae: 50132.8945 - val_loss: 50092.0859 - val_mae: 50092.0859
Epoch 19/100
250/250 [==============================] - 2s 9ms/step - loss: 50094.3047 - mae: 50094.3047 - val_loss: 50056.3984 - val_mae: 50056.3984
Epoch 20/100
250/250 [==============================] - 2s 9ms/step - loss: 50058.4375 - mae: 50058.4375 - val_loss: 50026.2773 - val_mae: 50026.2773
Epoch 21/100
250/250 [==============================] - 2s 9ms/step - loss: 50025.7578 - mae: 50025.7578 - val_loss: 49993.0781 - val_mae: 49993.0781
Epoch 22/100
250/250 [==============================] - 3s 12ms/step - loss: 49994.8086 - mae: 49994.8086 - val_loss: 49972.9453 - val_mae: 49972.9453
Epoch 23/100
250/250 [==============================] - 3s 11ms/step - loss: 49970.7852 - mae: 49970.7852 - val_loss: 49952.3477 - val_mae: 49952.3477
Epoch 24/100
250/250 [==============================] - 2s 9ms/step - loss: 49945.2227 - mae: 49945.2227 - val_loss: 49931.6367 - val_mae: 49931.6367
Epoch 25/100
250/250 [==============================] - 1s 6ms/step - loss: 49919.8008 - mae: 49919.8008 - val_loss: 49914.2031 - val_mae: 49914.2031
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49902.1641 - mae: 49902.1641 - val_loss: 49897.0742 - val_mae: 49897.0742
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 49876.7969 - mae: 49876.7969 - val_loss: 49879.7461 - val_mae: 49879.7461
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49860.8789 - mae: 49860.8789 - val_loss: 49860.3906 - val_mae: 49860.3906
Epoch 29/100
250/250 [==============================] - 1s 6ms/step - loss: 49842.6680 - mae: 49842.6680 - val_loss: 49843.1992 - val_mae: 49843.1992
Epoch 30/100
250/250 [==============================] - 2s 8ms/step - loss: 49831.7461 - mae: 49831.7461 - val_loss: 49833.4805 - val_mae: 49833.4805
Epoch 31/100
250/250 [==============================] - 2s 7ms/step - loss: 49813.6797 - mae: 49813.6797 - val_loss: 49819.0703 - val_mae: 49819.0703
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49799.9492 - mae: 49799.9492 - val_loss: 49797.2227 - val_mae: 49797.2227
Epoch 33/100
250/250 [==============================] - 1s 6ms/step - loss: 49782.4492 - mae: 49782.4492 - val_loss: 49796.5156 - val_mae: 49796.5156
Epoch 34/100
250/250 [==============================] - 2s 6ms/step - loss: 49770.1133 - mae: 49770.1133 - val_loss: 49787.1016 - val_mae: 49787.1016
Epoch 35/100
250/250 [==============================] - 2s 8ms/step - loss: 49755.6602 - mae: 49755.6602 - val_loss: 49778.7109 - val_mae: 49778.7109
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 49742.9492 - mae: 49742.9492 - val_loss: 49767.1133 - val_mae: 49767.1133
Epoch 37/100
250/250 [==============================] - 2s 7ms/step - loss: 49733.8789 - mae: 49733.8789 - val_loss: 49750.2891 - val_mae: 49750.2891
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49721.8242 - mae: 49721.8242 - val_loss: 49746.2578 - val_mae: 49746.2578
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 49709.9023 - mae: 49709.9023 - val_loss: 49738.5156 - val_mae: 49738.5156
Epoch 40/100
250/250 [==============================] - 1s 6ms/step - loss: 49699.4297 - mae: 49699.4297 - val_loss: 49735.0039 - val_mae: 49735.0039
Epoch 41/100
250/250 [==============================] - 2s 7ms/step - loss: 49692.9453 - mae: 49692.9453 - val_loss: 49724.8906 - val_mae: 49724.8906
Epoch 42/100
250/250 [==============================] - 2s 9ms/step - loss: 49684.6406 - mae: 49684.6406 - val_loss: 49718.7969 - val_mae: 49718.7969
Epoch 43/100
250/250 [==============================] - 3s 11ms/step - loss: 49672.6367 - mae: 49672.6367 - val_loss: 49713.9727 - val_mae: 49713.9727
Epoch 44/100
250/250 [==============================] - 2s 9ms/step - loss: 49666.7031 - mae: 49666.7031 - val_loss: 49707.8477 - val_mae: 49707.8477
Epoch 45/100
250/250 [==============================] - 2s 10ms/step - loss: 49659.5234 - mae: 49659.5234 - val_loss: 49709.5625 - val_mae: 49709.5625
Epoch 46/100
250/250 [==============================] - 3s 14ms/step - loss: 49651.4375 - mae: 49651.4375 - val_loss: 49690.6367 - val_mae: 49690.6367
Epoch 47/100
250/250 [==============================] - 3s 12ms/step - loss: 49644.8672 - mae: 49644.8672 - val_loss: 49697.3242 - val_mae: 49697.3242
Epoch 48/100
250/250 [==============================] - 2s 9ms/step - loss: 49636.7461 - mae: 49636.7461 - val_loss: 49685.3750 - val_mae: 49685.3750
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 49629.2188 - mae: 49629.2188 - val_loss: 49687.7461 - val_mae: 49687.7461
Epoch 50/100
250/250 [==============================] - 2s 10ms/step - loss: 49622.5156 - mae: 49622.5156 - val_loss: 49675.1094 - val_mae: 49675.1094
Epoch 51/100
250/250 [==============================] - 2s 8ms/step - loss: 49617.3008 - mae: 49617.3008 - val_loss: 49679.8242 - val_mae: 49679.8242
Epoch 52/100
250/250 [==============================] - 3s 11ms/step - loss: 49608.1602 - mae: 49608.1602 - val_loss: 49681.9414 - val_mae: 49681.9414
Epoch 53/100
250/250 [==============================] - 2s 7ms/step - loss: 49608.0430 - mae: 49608.0430 - val_loss: 49663.5742 - val_mae: 49663.5742
Epoch 54/100
250/250 [==============================] - 1s 6ms/step - loss: 49598.7812 - mae: 49598.7812 - val_loss: 49659.8438 - val_mae: 49659.8438
Epoch 55/100
250/250 [==============================] - 2s 7ms/step - loss: 49590.7656 - mae: 49590.7656 - val_loss: 49658.0000 - val_mae: 49658.0000
Epoch 56/100
250/250 [==============================] - 2s 8ms/step - loss: 49587.0664 - mae: 49587.0664 - val_loss: 49660.2656 - val_mae: 49660.2656
Epoch 57/100
250/250 [==============================] - 2s 9ms/step - loss: 49580.0508 - mae: 49580.0508 - val_loss: 49652.7930 - val_mae: 49652.7930
Epoch 58/100
250/250 [==============================] - 2s 8ms/step - loss: 49574.4883 - mae: 49574.4883 - val_loss: 49650.8047 - val_mae: 49650.8047
Epoch 59/100
250/250 [==============================] - 2s 9ms/step - loss: 49567.8281 - mae: 49567.8281 - val_loss: 49646.2969 - val_mae: 49646.2969
Epoch 60/100
250/250 [==============================] - 2s 9ms/step - loss: 49562.3398 - mae: 49562.3398 - val_loss: 49634.2188 - val_mae: 49634.2188
Epoch 61/100
250/250 [==============================] - 2s 8ms/step - loss: 49561.6523 - mae: 49561.6523 - val_loss: 49636.8594 - val_mae: 49636.8594
Epoch 62/100
250/250 [==============================] - 2s 8ms/step - loss: 49555.1797 - mae: 49555.1797 - val_loss: 49636.3945 - val_mae: 49636.3945
Epoch 63/100
250/250 [==============================] - 2s 9ms/step - loss: 49548.1133 - mae: 49548.1133 - val_loss: 49622.7461 - val_mae: 49622.7461
Epoch 64/100
250/250 [==============================] - 2s 10ms/step - loss: 49544.0352 - mae: 49544.0352 - val_loss: 49622.7148 - val_mae: 49622.7148
Epoch 65/100
250/250 [==============================] - 2s 9ms/step - loss: 49538.1992 - mae: 49538.1992 - val_loss: 49627.9219 - val_mae: 49627.9219
Epoch 66/100
250/250 [==============================] - 2s 9ms/step - loss: 49532.9727 - mae: 49532.9727 - val_loss: 49625.3477 - val_mae: 49625.3477
Epoch 67/100
250/250 [==============================] - 2s 9ms/step - loss: 49529.7344 - mae: 49529.7344 - val_loss: 49629.0547 - val_mae: 49629.0547
Epoch 68/100
250/250 [==============================] - 2s 9ms/step - loss: 49527.3906 - mae: 49527.3906 - val_loss: 49614.9297 - val_mae: 49614.9297
Epoch 69/100
250/250 [==============================] - 2s 8ms/step - loss: 49524.3828 - mae: 49524.3828 - val_loss: 49618.1172 - val_mae: 49618.1172
Epoch 70/100
250/250 [==============================] - 2s 9ms/step - loss: 49519.0430 - mae: 49519.0430 - val_loss: 49611.5039 - val_mae: 49611.5039
Epoch 71/100
250/250 [==============================] - 3s 10ms/step - loss: 49513.2539 - mae: 49513.2539 - val_loss: 49616.4141 - val_mae: 49616.4141
Epoch 72/100
250/250 [==============================] - 3s 12ms/step - loss: 49507.2852 - mae: 49507.2852 - val_loss: 49614.7383 - val_mae: 49614.7383
Epoch 73/100
250/250 [==============================] - 2s 8ms/step - loss: 49506.8281 - mae: 49506.8281 - val_loss: 49615.8867 - val_mae: 49615.8867
Epoch 74/100
250/250 [==============================] - 2s 7ms/step - loss: 49502.7656 - mae: 49502.7656 - val_loss: 49610.3047 - val_mae: 49610.3047
Epoch 75/100
250/250 [==============================] - 2s 7ms/step - loss: 49499.9102 - mae: 49499.9102 - val_loss: 49612.7695 - val_mae: 49612.7695
Epoch 76/100
250/250 [==============================] - 2s 9ms/step - loss: 49493.7578 - mae: 49493.7578 - val_loss: 49612.7656 - val_mae: 49612.7656
Epoch 77/100
250/250 [==============================] - 2s 7ms/step - loss: 49489.9414 - mae: 49489.9414 - val_loss: 49620.6133 - val_mae: 49620.6133
Epoch 78/100
250/250 [==============================] - 2s 7ms/step - loss: 49488.0430 - mae: 49488.0430 - val_loss: 49613.9805 - val_mae: 49613.9805
Epoch 79/100
250/250 [==============================] - 2s 8ms/step - loss: 49482.8750 - mae: 49482.8750 - val_loss: 49599.9727 - val_mae: 49599.9727
Epoch 80/100
250/250 [==============================] - 2s 7ms/step - loss: 49480.6836 - mae: 49480.6836 - val_loss: 49612.7539 - val_mae: 49612.7539
Epoch 81/100
250/250 [==============================] - 2s 8ms/step - loss: 49475.2188 - mae: 49475.2188 - val_loss: 49619.1289 - val_mae: 49619.1289
Epoch 82/100
250/250 [==============================] - 2s 6ms/step - loss: 49472.1953 - mae: 49472.1953 - val_loss: 49602.7852 - val_mae: 49602.7852
Epoch 83/100
250/250 [==============================] - 3s 10ms/step - loss: 49471.3867 - mae: 49471.3867 - val_loss: 49605.2227 - val_mae: 49605.2227
Epoch 84/100
250/250 [==============================] - 2s 8ms/step - loss: 49467.8203 - mae: 49467.8203 - val_loss: 49618.1523 - val_mae: 49618.1523
Epoch 85/100
250/250 [==============================] - 1s 6ms/step - loss: 49460.5859 - mae: 49460.5859 - val_loss: 49606.7812 - val_mae: 49606.7812
Epoch 86/100
250/250 [==============================] - 1s 5ms/step - loss: 49461.7422 - mae: 49461.7422 - val_loss: 49611.4727 - val_mae: 49611.4727
Epoch 87/100
250/250 [==============================] - 2s 6ms/step - loss: 49455.6055 - mae: 49455.6055 - val_loss: 49601.2227 - val_mae: 49601.2227
Epoch 88/100
250/250 [==============================] - 2s 9ms/step - loss: 49453.6250 - mae: 49453.6250 - val_loss: 49604.3906 - val_mae: 49604.3906
Epoch 89/100
250/250 [==============================] - 2s 8ms/step - loss: 49450.2188 - mae: 49450.2188 - val_loss: 49603.3516 - val_mae: 49603.3516

In [26]:
# Load Tensorboard Extension
%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit

In [28]:
model.save('regression_model.h5')

d:\Projects\MachineLearningPractice\DeepLearning\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(